{{> header}}
{{> menu}}
<div class="row">
    <div class="col-8">
        <h1>Perrito muy lindo</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid sit nostrum deserunt consectetur iste
            fugiat, assumenda excepturi. Ullam deleniti ex, laudantium dolorum animi vero obcaecati suscipit ratione
            libero maiores rerum.</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/perrito.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}